<p>Olá {{ nome }},</p>
<p>A senha da sua conta do Rocket Sales foi alterada recentemente.</p>
<p>Caso você não reconheça essa alteração, entre em contato conosco.</p>
<p>Atenciosamente,</p>
<p>Equipe Rocket Sales</p>
<p>Telefone: (11) 3511-3700</p>
<p><a href="#">http://rocketsales.amaro.com.br</a></p>
