<p>Olá, {{nome}}.</p>
<p>Bem-vindo ao rocket-sales. </p>
<p>Sou o Raphael, e estou aqui para te ajudar com relação ao uso do sistema. </p>
<p>Caso precise de alguma ajuda, entre em contato comigo no telefone (11) 3511-3717. </p>
<p>Obrigado!</p>
