{{#if nome}}
<p>Olá {{nome}},</p>
{{else}}
<p>Olá,</p>
{{/if}}

<p>Você foi convidado para acessar {{ dealerNome }} no Rocket Sales.</p>
{{#if nome}}
<p>Para aceitar o convite, clique aqui e faça o login.</p>
{{else}}
<p>Para aceitar o convite, clique aqui e faça seu cadastro.</p>
{{/if}}
<p>Caso tenha algum dúvida, entre em contato conosco no telefone (11) 3511-3717. </p>
