<p>Olá {{ nome }}, </p>
<p>Para redefinir a senha clique aqui: <a href="{{link}}">{{link}}</a>.</p>
<p>Caso você não tenha solicitado a redefinição de senha, por favor, desconsidere esse e-mail. </p>
<p>Equipe Rocket Sales</p>
